.purple{
    padding:30px;
    border:solid purple;
    background-color: purple;
    
}
html{
    background-image: url("images/background.jpg");
    background-size:cover;
}

body{
    margin:0 auto;
    border-radius: 50px;
    width:600px;
    border: 3px solid purple; 
    background-color:rgba(255, 255, 255, 0.8);
    text-align: center;
    
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    color:white;
    
}
.login{
    background-color: green;
    font-size:20px;
    color:white;
    border-style: outset;
    border-width:2px;
    padding:10px 10px;
    font-variant:bold;
}

a{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;
    
}
a:hover{
    color: yellow;
}

.logos{
    padding:20px;
}

hr{
    width:75%;
}